body {
    font-family: Sans-Serif;
  }
  
  h1 {
    line-height: 60px;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  
  ol {
    list-style-type: upper-roman;
  }
  
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .excited {
    color: green;
  }
  
  .row:after {
    content: "";
    display: table;
  }
  
  .column {
  }

  